@font-face {
  font-family: 'TheSlugAndLion';
  src: url('/fonts/TheSlugandLion.woff2') format('woff2'),
       url('/fonts/TheSlugandLion.woff') format('woff'),
       url('/fonts/TheSlugandLion.ttf') format('truetype');

}

:root {
  --light-text-color: rgb(227, 223, 222);
  --bar-name-color: #D9AB6C;
  --link-text-color: #78853B;
  --button-bg-color: hsl(3, 53%, 50%);
  --button-bg-hover-color: hsl(3, 53%, 40%);
  --card-bg-color: rgb(222, 155, 51);
  --overlay-bg-color: rgba(11,5,12,0.6);
  --heading-font: 'TheSlugAndLion', 'Ariel Black', sans-serif;
  --body-font: 'Lato', sans-serif;
}
/* 
red: rgb(194, 67, 60);
brown: rgb(146, 94, 68);
yellow:rgb(222, 155, 51); */



/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}



.body {
  height: 100%;
  background-image: url(../img/katie-smith-104748-unsplash-dark.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-size: 62.5%;
  color: var(--light-text-color);
  font-family: var(--body-font);
}

.error-message {
  color: var(--button-bg-color);
  font-size: 1rem;
  background-color: rgba(10, 0, 0,0.5);
  padding: 10px;
}

.main {
  padding: 150px 20px 0 20px;
  width: 100vw;
}

.hidden {
  display: none;
}
