
* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-image: linear-gradient(200deg, #FFD194 65%, #d1913c 100%);
  }
header{
  width: 95%;
  font-size: 2rem;
  color: #78853B;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header p{
  width:95%;
  font-size: 2rem;
  color: #212121;
  text-align: center;
  margin: 0 auto;
}
.instructions{
  width: 95%;
  margin: 0 auto;
}

.cityst{
  width: 35%;
  margin: 0 auto;
  text-align: center;
  
}
.type{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
}


.submitbtn {
  width:5em;
  margin-top: 3rem;
  border: 2px solid #5A632C;
  border-radius: 6px;
  margin-left:auto;
  margin-right: auto;
  height: 2em;
  background-color: #78853B;
  font-size: 1.5rem;
  color: darkgrey;
  transition: background-color .3s ease;
}
.submitbtn:hover{
  color: cornsilk;
  background-color: #5A632C;
  transition: background-color .3s ease;
}

@media (min-width: 320px){
  h1{
    font-size: 2rem;
  }
  p{
    width: 95%;
    text-align: center;
    font-size: 1.2rem;
  }
  .cityst{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-content: center;
  }
}

@media(min-width:550px){
  h1{
    font-size: 2.2rem;
  }
  p{
    width:95%;
    text-align: center;
  }
  .cityst{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1rem;
    margin: 0 auto;
  }
  .type{
    display: flex;
    align-self: center;
  }
}

@media (min-width: 1000px){
  h1{
    font-size: 3rem;
  }
  p{
    width: 100%;
    text-align: center;
    font-size: 2.2rem
  }
  .cityst{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  .submitbtn{
    font-size: 2.5rem;
  }
}