
* {
  box-sizing: border-box;
}
html{
  height:200%;
}
body{
  height: 200%;
  background-image: repeating-linear-gradient(200deg, #FFD194 0%, #d1913c 50%, #FFD194 100%)
                    ;
  }
header{
  width: 95%;
  font-size: 3em;
  color: #78853B;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header p{
  width:95%;
  font-size: 1.3rem;
  color: #212121;
  text-align: center;
  margin: 0 auto;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
}
.instructions{
  width: 95%;
  margin: 0 auto;
}

.form-input {
  
}


.form-input input,
.form-input select {
  font-size: 1.5rem;
  padding: 10px;
}

.form-input label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}


.type{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #212121;
  padding: 2rem;
}

.submitbtn {
  width:5em;
  margin-top: 3rem;
  border: 2px solid #5A632C;
  border-radius: 6px;
  margin-left:auto;
  margin-right: auto;
  height: 2em;
  background-color: #78853B;
  font-size: 1.5rem;
  color: darkgrey;
  transition: background-color .3s ease;
}
.submitbtn:hover{
  color: cornsilk;
  background-color: #5A632C;
  transition: background-color .3s ease;
}
.submitbtn {
  width:5em;
  margin-top: 3rem;
  border: 2px solid #5A632C;
  border-radius: 6px;
  height: 2em;
  background-color: #78853B;
  font-size: 1.5rem;
  color: white;
  transition: background-color .3s ease;
  display: block;
}
.submitbtn:hover{
  color: cornsilk;
  background-color: #5A632C;
  transition: background-color .3s ease;
}


.results-container {
  width: 80%;
  margin: 0 auto;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list img {
  width: 100%;
}

.result-item-list {
  list-style: inherit;
  padding: 0;
}

@media (min-width: 320px){
  h1{
    font-size: 2rem;
  }
  p{
    width: 95%;
    text-align: center;
    font-size: 1.2rem;
  }
  .cityst{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-content: center;
  }
}

@media(min-width:550px){
  h1{
    font-size: 2.2rem;
  }
  p{
    width:95%;
    text-align: center;
  }
  .cityst{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1rem;
    margin: 0 auto;
  }
  .type{
    display: flex;
    align-self: center;
  }

  .results-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .form-input{
    width: 35%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px){
  h1{
    font-size: 3rem;
  }
  p{
    width: 100%;
    text-align: center;
    font-size: 2.2rem
  }
  .cityst{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  .submitbtn{
    font-size: 2.5rem;
  }
}