@font-face {
  font-family: 'TheSlugAndLion';
  src: url('/fonts/TheSlugandLion.woff2') format('woff2'),
       url('/fonts/TheSlugandLion.woff') format('woff'),
       url('/fonts/TheSlugandLion.ttf') format('truetype');

}




:root {
  --light-text-color: rgb(255, 254, 254);
  --bar-name-color: #D9AB6C;
  --link-text-color: #78853B;
  --button-bg-color: hsl(40, 59%, 61%);
  --card-bg-color: rgba(115, 46, 2, 0.5);
  --overlay-bg-color: rgba(11,5,12,0.6);
  --heading-font: 'TheSlugAndLion', 'Ariel Black', sans-serif;
  --body-font: 'Lato', sans-serif;
}

/* pink-text: rgb(255, 254, 254)
dark-pink: hsl(7, 22%, 54%); 
bright-pink: hsl(330, 53%, 87%); #F0CEDF
cream-pink: hsl(349, 27%, 81%);
gold: hsl(40, 59%, 61%)
dark-golc: hsl(31, 56%, 35%)
 */




/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}



.body{
  height: 100%;
  background-image: url(img/david-billings-1326439-unsplash.jpg);
  background-attachment: fixed;
  background-position:50% 15%;
  background-size: 500px;
  font-size: 62.5%;
  color: var(--light-text-color);
  font-family: var(--body-font);
}


.main {
  padding: 30px 20px 0 20px;
  background-color: var(--overlay-bg-color);
  height: 100vh;
  width: 100vw;
}

.header {
  margin-bottom: 70px;
}

.header__heading,
.header__subheading {
  text-align: center;
}

.header__heading {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 0;
  font-family: var(--heading-font);
}

.header__subheading {
  font-size: 1rem;
}

.form__label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
  text-shadow: 1px 1px var(--button-bg-color);
}

.form__text-input {
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 10px 10px;
  background-color: var(--light-text-color);
  border: none;
  outline: 2px solid var(--button-bg-color);
}

.zipcode-input {
  width: 8ch;
}

.form__select-input {
  font-size: 1.5rem;
  background-color: var(--light-text-color);
  padding: 10px 10px;
  margin-bottom: 20px;
  outline: 2px solid var(--button-bg-color);
}

.submit-btn {
  display: block;
  font-size: 2rem;
  width: 100%;
  padding: 20px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--light-text-color);
  margin-top: 10px;
  transition: background-color .3s ease;
  cursor: pointer;
  outline: none;
}

.submit-btn:hover{
  color: cornsilk;
  filter: brightness(70%);
  transition: background-color .3s ease;
}


.results-container {
  width: 100%;
  margin-top: 50px;
  /* background-color: var(--overlay-bg-color); */
  padding: 0 20px;
}

.result-item {
  margin: 20px 0;
  background-color: #212121;
  padding: 20px 10px;
}

.results-list {
  list-style: none;
  padding: 0;
}

.result {
  background: var(--button-bg-color);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.result__link__image {
  width: 100%;
}


.result-item-list {
  list-style: inherit;
  padding: 0;
  font-size: 2rem;
}

.result__heading {
  color: var(--light-text-color);
  font-size: 2rem;
  margin-top: 0;

}

.result-item__link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--link-text-color);
  display: block;
  margin-top: 10px;
  text-align: center;
}
